<!doctype html>
<html lang="<%=language%>">
<head>
  <meta charset="utf-8">
  <title>USAS WSD Translation Task</title>
  <link href="/static/css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <link href="/static/css/common.css" rel="stylesheet">
  <script src="/static/js/jquery-1.9.1.js"></script>
  <script src="/static/js/jquery-ui-1.10.3.custom.js"></script>
  <script src="/static/js/jquery.timer.js"></script>
  <script src="/static/js/jquery.loadTemplate-1.2.3.min.js"></script>
  <script src="/static/js/jquery.base64.min.js"></script>

  <!-- USAS tag documentation data -->
  <script src="/data/usas.json.js"></script>
  <!-- Main functionality -->
  <script type="text/javascript">
    <%# Timeout set from ruby %>
    var timeEnding = new Date(new Date().getTime() + (<%= timeout %> * 60 * 1000));

    <%# And the tags pre-loaded from ruby %>
    var preSelections = <%= JSON.dump(tags) %>;
  </script>
  <script src="/static/js/main.js"></script>

  <!-- Styling for everything but the wizard -->
  <link href="/static/css/form.css" rel="stylesheet"/>
  <!-- Styling for the overlay wizard and contents -->
  <link href="/static/css/wizard.css" rel="stylesheet"/>

  <!-- Template used to show a category that is the parent
       of other categories -->
  <script type="text/html" id="parentTemplate">
        <!-- /* -->
        <!-- <span class="boxlabel" data-content="prefix">Y1.2</span>:-->
        <span class="boxlabel" data-content="name">Blah</span>
        <p data-content="description">description</p>
        <!-- */ -->
  </script>

  <!-- Template used for leaf nodes -->
  <script type="text/html" id="leafTemplate">
        <!-- /* -->
        <!-- <span class="boxlabel" data-content="prefix">X.X.1: Blah</span> -->
        <span class="boxlabel" data-content="name">X.X.1: Blah</span>
        <p data-content="description">description</p>

        <div class="tagButtonWrapper">
          <button class="posbutton">Select</button>
          <button class="negbutton">Select</button>
        </div>
        <!-- */ -->
  </script>


 </head>
<body>

<div id="content">
<h1>USAS Lexicon Translation Form</h1>



<!-- Information about the task -->
<div id="tabs">
	<ul>
		<li><h3><a target="_blank" href="#tabs-1">Instructions</a></h3></li>
		<li><h3><a target="_blank" href="#tabs-2">Istruzioni</a></h3></li>
		<li><h3><a target="_blank" href="#tabs-3">التعليمات</a></h3></li>
		<li><h3><a target="_blank" href="#tabs-4">Information</a></h3></li>
		<li><h3><a target="_blank" href="#tabs-5">Contact</a></h3></li>
	</ul>
    <div id="tabs-1">
        <p>Please label the word below with a number of tags that represent its meaning.  Attach as many (no more than 10), or as few, as you deem appropriate for <strong>all</strong> senses of the word, placing them in descending order of importance.  Tags can be assigned in a positive or negative manner (for example, "occasionally" is tagged negatively for frequency)</p>

        <p>To assign a tag, click on the <code>add tag</code> button, and select a box from the category selection.  This will add an entry in the list, that can then be sorted so that the most commonly used tag is at the top.</p>
<p>Please remove any unrelated tags and make sure you do not exceed 10 tags in total.</p>

        <p>To help you with identifying common senses of a word, we have provided a number of links to dictionaries, thesauri, and corpora (where you can see real-world usage).  The <code>References</code> button will bring these up over the top of other things, so you can still browse the tags.</p>
		<p>Example: "Jordan" could be : 'Geographical name' or 'Personal name'</p>
		<p>Please submit your selections by clicking in the <code>Submit</code> button at the end of the page and wait until you receive a confirmation message where you need to copy the output-code and provide it to us, as in the following example:</p>
<p>Receipt Code</p>
<p>Please retain this code as a reference of the entry you've just made:</p>
<p>f962bed5616612c8c7053f6e97e72b129edb4990-b5f5-47ab-8e7e-bfc61c6515ec</p>
<p>Thanks</p>
</p>
    </div>
   


    <div id="tabs-2">
       
<p> Assegnare alla parola riportata sotto una o più etichette semantiche che ne rappresentino il significato. 
</p> <p>Potete assegnare da 1 a massimo 10 etichette, a vostra discrezione. L'importante è che rappresentiate tramite le etichette TUTTI i significati della parola data, in ordine decrescente di importanza. Le etichette possono rappresentare l'ambito in senso positivo o negativo (ad esempio: "raramente" avrà l'etichetta ‘frequenza' in quanto identifica il concetto di ‘poco frequente').
</p> <p> Per assegnare un'etichetta, fare clic sul pulsante  Add Tag nella sezione Tags, e selezionare una casella tra le opzioni visualizzate. La casella selezionata verrà aggiunta nell'elenco delle etichette. Una volta selezionate tutte le etichette del caso, ordinarle in ordine decrescente, lasciando in cima alla lista il significato più frequente nell'uso comune della lingua.
</p> <p> Eliminare eventuali etichette non pertinenti e assicurarsi di elencare un massimo di 10 etichette e non di più.
</p> <p> Per facilitare l'identificazione dei significati più comuni delle singole parole, abbiamo inserito il pulsante References, che apre link a dizionari e corpora (stringhe di testo in cui vedere l'uso della parola in vari contesti). L'utilizzo del pulsante  References non disturba la visualizzazione dell'elenco dei etichette. </p> 
<p> Esempio di etichettatura: "Jordan" pu? essere : 'Geographical name' oppure 'Personal name'</p> 
<p> Una volta completata la scelta e la posizione in ordine decrescente delle etichette, fare clic sul pulsante  Submit per registrare le selezioni fatte. Comparirà sullo schermo un codice di conferma.
Copiare e incollare il codice di conferma nel file excel, nella colonna "Output Code" relativa alla parola etichettata.
</p> 
<p> Una volta completata l'etichettatura di tutte le parole e inseriti tutti i codici di conferma nella tabella excel, inviare la tabella all'indirizzo m.el-haj@lancaster.ac.uk. </p> 

</div>

    <div id="tabs-3">
<h3>
<p dir="RTL">
الرجاء إختيار المعنى الملائم للكلمة الظاهرة باللون الأحمر في الأسفل.
</br> قم بإختيار المعاني بحيث لا يزيد عددها في المجمل عن عشرة ولا يقل عن واحد. 
</br>قم بترتيب المعاني تنازليا حسب الأهمية  (مدى قرب المعنى من الكلمة). الإشارات موجب + وسالب - مرتبطة بكون الكلمة إيجابية أو سلبية. مثلا كلمة يحب إيجابية بينما كلمة يكره سلبية.
</p>
<p dir="RTL">
لإختيار معنى الكلمة قم بالضفط على (add tag) ومن ثم قم بإختيار الفئة المناسبة، بالضغط على الفئة المرادة يتم إضافتها الى القائمة.
</p>
<p dir="RTL">
يمكن للمستخد ترتيب المعاني الظاهرة في الأسفل حسب الأهمية بالضغظ وتحريك المربع الى الأعلى او الى الأسفل. الرجاء وضع المعاني المهمة والقريبة من المعنى في الأعلى والبعيدة في الأسفل.
</p>
<p dir="RTL">
على المستخد ازالة المعاني التي لا ترتبط بصلة مع الكلمة وذلك بالضغط على (×) الظاهرة على يمين المربع.
يرجى التأكد أن عدد المعاني في الأسفل لا يتجاوز مجموعها 10.
</p>
<p dir="RTL">
مثال: "فلسطين" يمكن أن يكون: 'موقع جغرافي "أو" اسم شخص". ، يتم ترتيب معاني كلمة فلسطين بحيث يظهر "موقع جغرافي" اولا ثم "إسم شخص" كون كلمة فلسطين في أغب الأحيان يشير الى إسم دولة أكثر من كونه إسم علم.
</p>
<p dir="RTL">
عند الإنتهاء الرجاء الضغط على (submit) لتأكيد إختيارك، قم بالإنتظار بضع لحظات لحين ظهور رمز (كود الإجابة)، الرجاء نسخ الرمز ولصقة في المكان المخصص.
</p>
<p dir="RTL">
رمز الإجابة يظهر على شاكلة رقم واحرف متسلسة على غرار المثال التالي:
</p>
<p>
Receipt Code

</p>
<p>
Please retain this code as a reference of the entry you've just made:
</p>
<p>
f962bed5616612c8c7053f6e97e72b129edb4990-b5f5-47ab-8e7e-bfc61c6515ec
</p>
<p dir="RTL">
لكم من فريق العمل جزيل الشكر
</p>
</h3>
    </div>
	
	 <div id="tabs-4">

<p>
This website is part of the SenseSourcing project in the 
<a target="_blank" href="http://scc.lancs.ac.uk/">School of Computing and Communications</a> at 
<a target="_blank" href="http://www.lancaster.ac.uk/">Lancaster University</a>, UK. The SenseSourcing project is using crowdsourcing methods to collect expert and non-expert manual judgements and classifications of the meanings of words in a variety of languages. These manual classifications (tags) will help us to improve the semantic dictionaries for the 
<a target="_blank" href="http://ucrel.lancs.ac.uk/usas/">USAS (UCREL Semantic Analysis System) tagger</a> which is an automatic software system for the semantic analysis of language. 
</p><p>
The SenseSourcing project was funded by an EPSRC Impact Acceleration Award to
<a target="_blank" href="http://www.comp.lancs.ac.uk/~paul/">Dr Paul Rayson</a> in 2013/14 which provided resources for development work and a literature survey by 
<a target="_blank" href="http://www.extremetomato.com/">Steve Wattam</a>. The 
<a target="_blank" href="http://ucrel.lancs.ac.uk/">UCREL research centre</a> funded further research, development and dissemination by <a target="_blank" href="http://www.lancaster.ac.uk/staff/elhaj/">Dr Mahmoud El-Haj</a> in 2015. 
This research is carried out in collaboration with the ESRC-funded
<a target="_blank" href="http://cass.lancs.ac.uk/">Centre for Corpus Approaches to Social Science</a>.
</p><p>
The tags presented through this website result from an initial draft semantic dictionary for a language derived from an automatic 'translation' process. Due to the inevitable ambiguity of translations and part-of-speech correspondence across and between languages, the automatically translated lexicons contain errors, which need to be cleaned manually. 
In order to reference this further development of the multilingual USAS tagger, please cite our paper at NAACL-HLT 2015:
</p><p>

<a target="_blank" href="http://ucrel.lancs.ac.uk/publications/piaoEtAl_NAACL2015.pdf">Piao, S., Bianchi, F., Dayrell, C., D'Egidio, A. and Rayson, P. (2015). 
Development of the multilingual semantic annotation system. 
In proceedings of the 2015 Conference of the North American Chapter of the 
Association for Computational Linguistics - Human Language Technologies 
(NAACL HLT 2015), Denver, Colorado, United States.</a></p>
    </div>
    <div id="tabs-5">
        <p>Contact details for further information please send us on: USAS Semantic Tagger <a target="_blank" href="mailto:usas.ucrel@gmail.com?Subject=USAS Tagger" target="_top">usas.ucrel@gmail.com</a></p>
    </div>
    </div>
<!-- Progressbar -->
<div id="timerbar">
  <div id="progressbar">
      <div class="progress-label">This task has a time limit of <strong id="timelimit"></strong>, expiring at <strong id="timeend"></strong></div>
  </div>
</div>




<!-- The word in question -->
<div>
    <fieldset>
        <legend>Term to Classify</legend>
        <p><span id="theWord"><%=h word%></span></p>
    </fieldset>
</div>


<!-- Form containing various hidden fields to be populated by js -->
<form name="input" id="inputForm" action="add" method="post">

    <% if source.downcase == "amt" %>
        <!-- A utility for workers to check previous work -->
        <div>
            <fieldset>
                <legend>Worker ID</legend>
                <p>Please enter your worker ID in the box so we can check if you've done this word before.</p>
                <input type="text" id="workerID" name="worker"/> <button id="workerIDButton">Check</button>
                <div id="previousWorkAlert"></div>
            </fieldset>
        </div>

    <% end %>

    <!-- The sortable tag list. -->
    <div>
        <fieldset>
            <legend>Tags</legend>
            <p>Please add tags to describe the term, arranging them from the most commonly used sense to the least.</p>

            <!-- Used for sortable list of tags -->
            <div id="tags">
                <ul id="taglist">
                </ul>
            </div>

            <!-- Button to show overlay and load the wizard -->
            <button id="newTagButton">Add Tag</button>
            <button id="showToolsButton">References</button>
        </fieldset>
    </div>


    <!-- The submit button -->
    <div id="submit">
        <%# <h2>Submit</h2> %>
        <%# <p>Click to submit.  You will be taken to a page with a confirmation code on it.</p> %>
        <button id="submitButton">Submit</button>
    </div>


    <!-- Form elements for easier-to-process data -->
    <input type="hidden" id="wordField" name="word" value="<%= word.gsub(/"/, '')%>"/>
    <input type="hidden" name="from" value="<%= source %>"/>
    <input type="hidden" id="tagsField" name="tags" value=""/>
    <input type="hidden" id="timeField" name="time" value=""/>

</form>

</div> <!-- end content -->


<!-- footer -->
<div id="footer">
    <p>Page generated at <%=Time.now()%></p>
    <%# <br>&bull; &bull; &bull;<br> %>
</div>



<!-- - =- = - =- =- = -= - =- =  Overlays and dialogs beyodn this point. -= -= - =- = -= - =- =-  -->



<!-- Overlay used to render the grids -->
<div id="wizardOverlay" class="ui-widget-overlay"></div>
<div id="wizardContent" class="ui-widge ui-widget-content ui-corner-all">

    <!-- Breadcrumbs -->
    <ul id="wizardBreadcrumbs" class="crumb">
        <!-- <li><a target="_blank" href="#">Home</a></li> -->
    </ul>



    <!-- Title and descrioption -->
    <h3 id="wizardTitle">Select a tag</h3>
    <p id="wizardDescription">Description of current category goes here.</p>


    <!-- Navigation buttons -->
    <div class="wizardButtons">
        <button class="backWizardButton">Back</button>
        <button class="showToolsWizardButton">References</button>
        <button class="cancelWizardButton">Cancel</button>
    </div>


    <!-- Somewhere to put a load of tagBoxes -->
    <div id="wizardInnerSelection">

        <!-- <div class="tagbox"> -->
        <!--   <span class="boxlabel">X.Y.2: Things and Stuff</span> -->
        <!--   <p>description</p> -->
        <!-- </div> -->


    </div>

    <!-- Navigation buttons -->
    <div class="wizardButtons">
        <button class="backWizardButton">Back</button>
        <button class="showToolsWizardButton">References</button>
        <button class="cancelWizardButton">Cancel</button>
    </div>
</div>

<!-- Links to sites for lookup of info about the word -->
<div id="toolDialog" title="References">
    <%= refs_html %>
</div>


<!-- Shown when form validation fails. -->
<div id="validationDialog" title="Form validation">
    <p>Please add at least one tag</p>
</div>


<!-- Shown when exceeding number of categories selection. -->
<div id="categoriesDialog" title="Exceeded Limit">
    <p>Please select no more than 10 categories</p>
</div>

<!-- Shown when the time limit expires -->
<div id="timeoutDialog" title="Out of time">
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 10px 7px 20px 10px;"></span><p>You are out of time.  Sorry.</p>
</div>

<!-- Hidden by the JS pullup method.  Used to warn people that the form
     won't work without js. -->
<div id="noJSHide">
    <h3>JavaScript required.</h3>
    <p>To take this survey, you must have JavaScript enabled, and be running a fairly modern browser (Chrome, Safari, IE or Firefox from the last year or two should be fine.)</p>
</div>

</body>
</html>
